BasedOnStyle: llvm
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false
ColumnLimit: 100
IndentWidth: 4
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Left
IndentPPDirectives: BeforeHash

# Added settings for template formatting
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: true
AlwaysBreakAfterReturnType: true
SpaceBeforeTemplateKeyword: false
SpaceAfterTemplateKeyword: true