// ================================================================================================
// Copyright (c) 2024, runnindrk
//
// This file is part of Quantum Abysmal.
//
// Quantum Abysmal is free software: you can redistribute it and/or modify it
// as needed, with the intent of making it freely available to everyone.
//
// This project is in its early stages and is provided without any warranties,
// expressed or implied, including but not limited to the warranties of
// merchantability, fitness for a particular purpose, or non-infringement.
//
// Use it at your own risk, and feel free to contribute as the project evolves!
// ================================================================================================

#include "DensityOfStates.hpp"

#include "plotting/PlotDensityOfStatesImpl.hpp"
#include "storage/StorageEngineImpl.hpp"

#include <chrono>
#include <omp.h>

// ================================================================================================
// Constructors

DensityOfStatesGpuStandard::DensityOfStatesGpuStandard()
{
    mLattice = LatticeEngineImpl::GetInstance().GetLattice();
    numOrbitals = mLattice.numberOfOrbitals;
    xSize = mLattice.latticeSize[0];
    ySize = mLattice.latticeSize[1];
    xGhostedSize = xSize + 2;
    yGhostedSize = ySize + 2;
    numberOfGhosts = numOrbitals * (2 * xSize + 2 * ySize + 4);
}

DensityOfStatesGpuStandard::~DensityOfStatesGpuStandard()
{
}

// ================================================================================================
// Public

Result<void> DensityOfStatesGpuStandard::SetDomainDecomposition(std::vector<uint32_t> numDomains)
{
    LOG_ERROR << "Not supported for CUDA Provider.";
    return Result<void>::SetError(NOT_SUPPORTED);
}

Result<void> DensityOfStatesGpuStandard::SetNumberOfRandomVectors(size_t numVectors)
{
    mNumRandomVectors = numVectors;
    return Result<void>::SetError(SUCCESS);
}

Result<void> DensityOfStatesGpuStandard::SetNumberOfMoments(size_t order)
{
    mNumOfMoments = order;
    dMomentsSize = order;
    return Result<void>::SetError(SUCCESS);
}

Result<std::vector<double>> DensityOfStatesGpuStandard::ComputeMoments()
{
    // --------------------------------------------------------------------------------------------
    // Output info.

    LOG_INFO << "Computing DoS from a 2D mLattice on GPU/STANDARD!";
    LOG_INFO << "Number of Lattice Points : " << xSize << "x" << ySize << " = " << xSize * ySize;
    LOG_INFO << "Number of Orbitals : " << numOrbitals;
    LOG_INFO << "Number of Hoppings : " << (uint32_t)mLattice.numberOfHoppings;
    LOG_INFO << "Number of Random Vectors  : " << mNumRandomVectors;
    LOG_INFO << "Number of Moments  : " << mNumOfMoments;
    LOG_INFO << "Hamiltonian Size : " << mLattice.hamiltonianSize;

    // ============================================================================================
    // Memory Allocation.

    double* dFirstRed;
    cudaMalloc((void**)&dFirstRed, NUM_THREADS * sizeof(double));

    double* dSecondRed;
    cudaMalloc((void**)&dSecondRed, NUM_THREADS * sizeof(double));

    double* dA;
    cudaMalloc((void**)&dA, mLattice.hamiltonianSize * sizeof(double));

    double* dB;
    cudaMalloc((void**)&dB, mLattice.hamiltonianSize * sizeof(double));

    double* dMoments;
    cudaMalloc((void**)&dMoments, dMomentsSize * sizeof(double));

    cudaMalloc((void**)&dLattice, sizeof(LatticeStructure));
    cudaMemcpy(dLattice, &mLattice, sizeof(LatticeStructure), cudaMemcpyHostToDevice);

    // ---------------------------------------------------------------------------------------------
    // Memory Allocation for Statistics.

    cudaMalloc((void**)&dAverageMoments, dMomentsSize * sizeof(double));
    cudaMemset(dAverageMoments, 0, dMomentsSize * sizeof(double));

    cudaMalloc((void**)&dVarianceMoments, dMomentsSize * sizeof(double));
    cudaMemset(dVarianceMoments, 0, dMomentsSize * sizeof(double));

    // ============================================================================================
    // Compute

    auto start = std::chrono::high_resolution_clock::now();

    // Start of random vector loop
    for (uint64_t i = 0; i < mNumRandomVectors; i++)
    {
    
    // --------------------------------------------------------------------------------------------
    // Zeroed out the arrays for the next iteration

    cudaMemset(dFirstRed, 0, NUM_THREADS * sizeof(double));
    cudaMemset(dSecondRed, 0, NUM_THREADS * sizeof(double));
    cudaMemset(dA, 0, mLattice.hamiltonianSize * sizeof(double));
    cudaMemset(dB, 0, mLattice.hamiltonianSize * sizeof(double));
    cudaMemset(dMoments, 0, dMomentsSize * sizeof(double));

    // --------------------------------------------------------------------------------------------
    // Populate the random vector

    RngGpuEngine::GetInstance().GetRandomVector(dA, mLattice.hamiltonianSize);

    // --------------------------------------------------------------------------------------------
    // Compute one average iteration of KPM.

    {
        Reduce<NUM_THREADS><<<NUM_BLOCKS, NUM_THREADS>>>(dA, dB, *dLattice, dFirstRed, dSecondRed, KpmSparseInit{});
        Reduce<NUM_THREADS><<<1, NUM_THREADS>>>(dFirstRed, dSecondRed, dMoments, 0);
    }

    for (int j = 0; j < mNumOfMoments / 2 - 1; j++)
    {
        Reduce<NUM_THREADS><<<NUM_BLOCKS, NUM_THREADS>>>((j % 2 == 0) ? dA : dB, (j % 2 == 0) ? dB : dA, *dLattice, dFirstRed, dSecondRed, KpmSparse{});
        Reduce<NUM_THREADS><<<1, NUM_THREADS>>>(dFirstRed, dSecondRed, dMoments, j + 1);
    }

    // Compute statistics for the moments
    {
        Math::SatisticsAccumulator<<<NUM_BLOCKS, NUM_THREADS>>>(dMoments, dAverageMoments, dVarianceMoments, dMomentsSize, i);
    }

    }
    // End of random vector loop

    // ============================================================================================
    // Copy to host.

    mAverageMoments.resize(mNumOfMoments);
    cudaMemcpy(mAverageMoments.data(), dAverageMoments, mNumOfMoments * sizeof(double), cudaMemcpyDeviceToHost);

    mVarianceMoments.resize(mNumOfMoments);
    cudaMemcpy(mVarianceMoments.data(), dVarianceMoments, mNumOfMoments * sizeof(double), cudaMemcpyDeviceToHost);

    auto end = std::chrono::high_resolution_clock::now();
    std::chrono::duration<double> elapsed = end - start;
    LOG_INFO << "Moments computation time : " << elapsed.count() << " seconds.";

    // --------------------------------------------------------------------------------------------
    // Free memory after computation

    // --------------------------------------------------------------------------------------------

    return Result<std::vector<double>>::SetValue(mAverageMoments);
}

Result<std::vector<std::array<double, 2>>> DensityOfStatesGpuStandard::ComputeDoS(uint32_t numPoints)
{
    // ---------------------------------------------------------------------------------------------
    // Memory Allocation.

    std::array<double, 2>* dosPointerArray;
    cudaMalloc((void**)&dosPointerArray, numPoints * sizeof(std::array<double, 2>));
    cudaMemset(dosPointerArray, 0, numPoints * sizeof(std::array<double, 2>));

    // --------------------------------------------------------------------------------------------
    // Compute.

    auto start = std::chrono::high_resolution_clock::now();

    DensityOfStatesFromAverageMoments<<<NUM_BLOCKS, NUM_THREADS>>>(*dLattice, dAverageMoments, dMomentsSize, dosPointerArray, numPoints);

    auto end = std::chrono::high_resolution_clock::now();
    std::chrono::duration<double> elapsed = end - start;
    LOG_INFO << "DoS computation time : " << elapsed.count() << " seconds.";

    // --------------------------------------------------------------------------------------------
    // Copy to host.

    mDoS.resize(numPoints);
    cudaMemcpy(mDoS.data(), dosPointerArray, numPoints * sizeof(std::array<double, 2>), cudaMemcpyDeviceToHost);

    return Result<std::vector<std::array<double, 2>>>::SetValue(mDoS);
}

Result<void> DensityOfStatesGpuStandard::Save()
{
    StorageEngine::SaveDoS(mLattice, mNumOfMoments, mNumRandomVectors, mAverageMoments, mVarianceMoments, mDoS);

    return Result<void>::SetError(SUCCESS);
}

Result<void> DensityOfStatesGpuStandard::PlotDoS()
{
    // change to static
    PlotDensityOfStatesImpl instance;
    instance.Plot(mDoS);

    return Result<void>::SetError(SUCCESS);
}

// ================================================================================================
// CUDA Device Functions

__device__ void DensityOfStatesGpuStandard::KpmSparseInit::operator()(uint64_t tid, double* a, double* b, LatticeStructure& lattice,
                                                                        double* sFirstReduceData, double* sSecondReduceData) const
{
    int numOrbitals = lattice.numberOfOrbitals;

    {%- if dimension == 1 %}
    int xSize = lattice.latticeSize[0];
    int x = tid;

    {%- elif dimension == 2 %}
    int xSize = lattice.latticeSize[0];
    int ySize = lattice.latticeSize[1];
    int y = tid / xSize;
    int x = tid % xSize;

    {%- elif dimension == 3 %}
    int xSize = lattice.latticeSize[0];
    int ySize = lattice.latticeSize[1];
    int zSize = lattice.latticeSize[2];
    int z = tid / (xSize * ySize);
    int y = (tid / xSize) % ySize;
    int x = tid % xSize;
    
    {%- endif %}

    // ============================================================================================
    // Jinja2 unrolled code generation for hoppings
    // This is a performance optimization to avoid the overhead of a loop in the kernel.

    {%- if dimension == 1 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 1 specific code
    
    // Hopping terms
    {%- for hop in hoppings %}
    b[ARRAY_IDX_1D(x, 0, {{ hop.orbitalHop[0] }})] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * a[ARRAY_IDX_1D(x, {{ hop.latticeHop[0] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += a[ARRAY_IDX_1D(x, 0, {{ i }})] * a[ARRAY_IDX_1D(x, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += b[ARRAY_IDX_1D(x, 0, {{ i }})] * a[ARRAY_IDX_1D(x, 0, {{ i }})];
    {%- endfor %}

    {%- elif dimension == 2 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 2 specific code

    // Hopping terms
    {%- for hop in hoppings %}
    b[ARRAY_IDX_2D(x, y, 0, 0, {{ hop.orbitalHop[0] }})] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * a[ARRAY_IDX_2D(x, y, {{ hop.latticeHop[0] }}, {{ hop.latticeHop[1] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})] * a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += b[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})] * a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})];
    {%- endfor %}

    {%- elif dimension == 3 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 3 specific code

    // Hopping terms
    {%- for hop in hoppings %}
    b[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ hop.orbitalHop[0] }})] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * a[ARRAY_IDX_3D(x, y, z, {{ hop.latticeHop[0] }}, {{ hop.latticeHop[1] }}, {{ hop.latticeHop[2] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})] * a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += b[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})] * a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})];
    {%- endfor %}

    {%- endif %}
};

__device__ void DensityOfStatesGpuStandard::KpmSparse::operator()(uint64_t tid, double* a, double* b, LatticeStructure& lattice,
                                                                    double* sFirstReduceData, double* sSecondReduceData) const
{
    int numOrbitals = lattice.numberOfOrbitals;

    {%- if dimension == 1 %}
    int xSize = lattice.latticeSize[0];
    int x = tid;

    {%- elif dimension == 2 %}
    int xSize = lattice.latticeSize[0];
    int ySize = lattice.latticeSize[1];
    int y = tid / xSize;
    int x = tid % xSize;

    {%- elif dimension == 3 %}
    int xSize = lattice.latticeSize[0];
    int ySize = lattice.latticeSize[1];
    int zSize = lattice.latticeSize[2];
    int z = tid / (xSize * ySize);
    int y = (tid / xSize) % ySize;
    int x = tid % xSize;

    {%- endif %}

    // ============================================================================================
    // Jinja2 unrolled code generation for hoppings
    // This is a performance optimization to avoid the overhead of a loop in the kernel.

    double temp[{{ num_orbitals }}] = {};

    {%- if dimension == 1 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 1 specific code

    // Hopping terms
    {%- for hop in hoppings %}
    temp[{{ hop.orbitalHop[0] }}] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * b[ARRAY_IDX_1D(x, {{ hop.latticeHop[0] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // Output update
    {%- for i in range(num_orbitals) %}
    a[ARRAY_IDX_1D(x, 0, {{ i }})] = 2 * temp[{{ i }}] - a[ARRAY_IDX_1D(x, 0, {{ i }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += b[ARRAY_IDX_1D(x, 0, {{ i }})] * b[ARRAY_IDX_1D(x, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += a[ARRAY_IDX_1D(x, 0, {{ i }})] * b[ARRAY_IDX_1D(x, 0, {{ i }})];
    {%- endfor %}

    {%- elif dimension == 2 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 2 specific code

    // Hopping terms
    {%- for hop in hoppings %}
    temp[{{ hop.orbitalHop[0] }}] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * b[ARRAY_IDX_2D(x, y, {{ hop.latticeHop[0] }}, {{ hop.latticeHop[1] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // Output update
    {%- for i in range(num_orbitals) %}
    a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})] = 2 * temp[{{ i }}] - a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += b[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})] * b[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += a[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})] * b[ARRAY_IDX_2D(x, y, 0, 0, {{ i }})];
    {%- endfor %}

    {%- elif dimension == 3 %}

    // --------------------------------------------------------------------------------------------
    // Dimension 3 specific code

    // Hopping terms
    {%- for hop in hoppings %}
    temp[{{ hop.orbitalHop[0] }}] += lattice.hoppings[{{ hop.macro_idx }}].hoppingStrength * b[ARRAY_IDX_3D(x, y, z, {{ hop.latticeHop[0] }}, {{ hop.latticeHop[1] }}, {{ hop.latticeHop[2] }}, {{ hop.orbitalHop[1] }})];
    {%- endfor %}

    // Output update
    {%- for i in range(num_orbitals) %}
    a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})] = 2 * temp[{{ i }}] - a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})];
    {%- endfor %}

    // First moment
    {%- for i in range(num_orbitals) %}
    sFirstReduceData[threadIdx.x] += b[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})] * b[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})];
    {%- endfor %}

    // Second moment
    {%- for i in range(num_orbitals) %}
    sSecondReduceData[threadIdx.x] += a[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})] * b[ARRAY_IDX_3D(x, y, z, 0, 0, 0, {{ i }})];
    {%- endfor %}

    {%- endif %}
};